html,
body {
  height: 100%;
  font-family: Arial !important;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #212529;
}

.searching-btn {
  background-color: DodgerBlue;
  border: none;
  border-radius: .25rem;
  color: white;
  padding: 9px 14px;
  margin-right: 0.5rem;
  font-size: 14px;
  cursor: pointer;
}


.searching-btn:hover {
  background-color: RoyalBlue;
}

.user-btn {
  background-color: #ff8d1e;
  border: none;
  border-radius: .25rem;
  color: white;
  padding: 7px 14px;
  margin-left: 1rem;
  font-size: 18px;
  cursor: pointer;
}

.user-btn:hover {
  background-color:#cc7018;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
/* .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
} */
.form-signin input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin img{
  border: solid thick #007bff;
  border-radius: .3rem;
}

.form-signin h1{
  color: white;
}

#error {
    color: white;
    margin-top: 3rem;
    margin-bottom: 6rem;
}
.container h1{
    color: white;
}
