
body {
    font-family: Arial !important;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  padding-top: 3.5rem;
}
.nav-item-account{
    text-align: right;
}

.jumbotron .container {
  max-width: 40rem;
}
.new-piggies {
  text-align: center;
  padding-bottom: 2rem;
  color: #2E4053;
}
.all-piggies {
  text-align: center;
  padding-bottom: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: #2E4053;
  border-bottom: thin solid grey;
}

.pagination {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.search-btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  border-radius: .25rem;
  color: white; /* White text */
  padding: 9px 14px; /* Some padding */
  margin-right: 0.5rem;
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.search-btn:hover {
  background-color: RoyalBlue;
}

.user-btn {
  background-color: #ff8d1e; /* Blue background */
  border: none; /* Remove borders */
  border-radius: .25rem;
  color: white; /* White text */
  padding: 7px 14px; /* Some padding */
  margin-left: 1rem;
  font-size: 18px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.user-btn:hover {
  background-color:#cc7018;
}



footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

footer p {
  margin-bottom: .25rem;
}
